@import "../../styles/utils/variables";

.TextForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  padding: 5px;
  border-radius: $border-radius;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  input {
    width: 100%;
    padding: 3px;
    border: 1px solid #D3D6D733;
    border-radius: $border-radius;
    font-size: 12px;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: $border-color;
      outline: none;
    }

    &:hover {
      border-color: $border-color;
    }
  }
}
