.Workspace {
  height: 100vh;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #F5F5FC;
  font-family: 'Roboto-Regular', sans-serif;
  box-shadow: inset 7px 6px 19px -19px rgba(0,0,0,0.75);
}