.ToolbarItem {
  width: 100px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #F6F9FE;
  border-radius: 6px;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  }
  &:active {
    box-shadow: none;
  }

  &__title {
    color: #252A32;
    font-size: 12px;
    text-transform: capitalize;
  }
}