$gray-primary: #252A32;
$item-background: #F6F9FE;
$paragraph: #97AACD;
$button: #4368E0;
$item-hover: #D9E7FF;
$header-height: 70px;
$toolbar-height: 27px;
$border-color: #495057;
$border-radius: 3px;