#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
};

.container {
  min-height: 800px;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  align-items: start;
  border: 1px solid #E4E6F1;
}
